.faq {
    float: right;
    box-sizing: border-box;
    padding: .5rem;
    border: 1px solid #000;
    box-shadow: 10px 10px 54px -6px rgba(0,0,0,0.75);
    transform-style: preserve-3d;
    position: relative;
}
.faq:hover {
    border: 1px solid #000;
}

.faq__links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
}

.cards {
    display: grod;
}