 :root {
    --font-size: 2em;
    --h1: 2.5em;
    --gray: #808080;
}


html {
    /* Self explanatory ^ */
    scroll-behavior: smooth;
    /* may make smooth scrolling bar */
}
body
{
    background-color: #F7EBE8;

}

header {
    position: relative;
    display: flex;
    justify-content: center;
}
/* Putting it above h1 so it doesnt affect h1 */
.Main_Title {
    width: clamp(80%, 1980px, 480px);
    line-height: 1.4rem;
    position: relative;
    margin-inline: auto;
}

h1 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: var(--h1);
    color: #0075A2;
    text-align: center;
    
}

h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-size: calc(var(--h1) - 10px);
    color: #E85F5C;
    text-align: center;
}

h3
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: calc(var(--h1) - 40px);
    color:#628B48;
    text-align: center;
}

p
{
    font-family:monospace;
}

#Contents
{
    font-family: 'Courier New', Courier, monospace;
}


ul > li{
    list-style-type: none;
}

.font {
    color: black;
    font-weight: bold;
    font-size: var(--font-size);
    /* Centers the text */
    display: flex;
    justify-content: center;
}

.textCenter {
    /* also centers the text */
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
}

.max__width {
    display: flex;
    flex-direction: column;
}

@media(min-width: 40em) {
    .max__width {
        flex-direction: row;
    }
    /* Gives ideal width so */
    .max__width > * {
        flex-basis: 100%;
    }
}
/* .p {
    width: max(880px);
        /* obvious enough */
        /* max-width: ""; works but i might want to extra value  */
    /* width: min(90%, 70.5rem)
    padding-left: 10px;
}
*/
.box__container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    top: -10%;
}
.middle__text {
    display: flex;
    align-items: center;
    justify-content: center;
}



.Main_Header {
    position: relative;
}
.whitespace {
    position: relative;
    height: max(110px);
    height: 90px;
}

table {
    font-family: monospace;
    border-collapse: separate;
    width: 100%;
}

td, th, .mimic {
    border: 1px solid #2d2a32;
    text-align: left;
    padding: 8px;
}
.standard {
    width: 1100px;
}

tr:nth-child(even) {
    background-color: #D9DB76;
}

.underline {
    text-decoration: underline;
}

.sidebar {
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 0;
    background-color: #F2A6A6;
    /* Navbarbg has z-index of 2 so it has to be higher */
    z-index: 3;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    transition: 200ms ease;
}


.sidebar div {
    padding: .25rem;
    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
}
.sidebar div > a {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
}

.body-text {
    margin-left: 200px;
}
.title-text {
    margin-left: 200px !important;
}

.dropdown__links {
    text-align: center !important;
    color: white;
}
.dropdown-heading {
    text-align: center !important;
    color: white;
}



body::-webkit-scrollbar {
    width: .5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(18, 53, 91, 0.9);
    /* background-color: #2d2a32; */
}

body::-webkit-scrollbar-thumb {
    background-color: #256DBA;
    outline: 1px solid black;
}
.link_text_hide {
    display: none;
    margin-left: 1rem;
}

.sidebar_show {
    width: 20em;
    transition: 200ms ease;
}

.link_text_show{
    display: block;
    transition: 200ms ease;
}

.logo {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
}


.sidebar::-webkit-scrollbar {
    width: .5em;
}

.sidebar::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(127,204,25, 0.3); */
    background-color: #12355B;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #256DBA;
    /* outline: 1px solid black; */
}

.svg {
    width: 30px;
    height: 20px;
}