 

:root {
    --font-size: 2em;
    --h1: 2.5em;
    --gray: #808080;
}


html {
    /* Self explanatory ^ */
    scroll-behavior: smooth;
    /* may make smooth scrolling bar */
}
body
{
    background-color: #EDEEC0;

}
@font-face
{
    font-family: "CustomFont";
    src: url("Brexterdemo-1G4Pe.otf")format("opentype");
}
header {
    position: relative;
    display: flex;
    justify-content: center;
}
/* Putting it above h1 so it doesnt affect h1 */
.Main_Title {
    width: clamp(80%, 1980px, 480px);
    line-height: 1.4rem;
    position: relative;
}

h1 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: var(--h1);
    color: #0075A2;
    text-align: center;
    
}

h2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-size: calc(var(--h1) - 24px);
    color: #E85F5C;
    text-align: center;
}

h3
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: calc(var(--h1) - 40px);
    color:#628B48;
    text-align: center;
}

p
{
    font-family:monospace;
}

#Contents
{
    font-family: 'Courier New', Courier, monospace;
}


ul > li{
    list-style-type: none;
}

.font {
    color: black;
    font-weight: bold;
    font-size: var(--font-size);
    /* Centers the text */
    display: flex;
    justify-content: center;
}

.textCenter {
    /* also centers the text */
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
}

.max__width {
    display: flex;
    flex-direction: column;
}

@media(min-width: 40em) {
    .max__width {
        flex-direction: row;
    }
    /* Gives ideal width so */
    .max__width > * {
        flex-basis: 100%;
    }
}
/* .p {
    width: max(880px);
        /* obvious enough */
        /* max-width: ""; works but i might want to extra value  */
    /* width: min(90%, 70.5rem)
    padding-left: 10px;
}
*/
.box__container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}
.middle__text {
    display: flex;
    align-items: center;
    justify-content: center;
}



.Main_Header {
    position: relative;
}
.whitespace {
    position: relative;
    height: max(110px);
}

table {
    font-family: monospace;
    border-collapse: separate;
    width: 100%;
}

td, th {
    border: 1px solid #2d2a32;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D9DB76;
}